@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: 'Sofia Pro' sans-serif;
  /* font-family: Sofia, Arial, Helvetica, sans-serif; */
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hide-header {
  transform: translateY(-100%);
  opacity: 0;
}

.show-header {
  transform: translateY(0);
  opacity: 1;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.ani-text{
  overflow: hidden;
}

/* === Font Family */
@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProUltraLightItalicAz.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProUltraLightAz.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProSemiBoldItalicAz.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProMediumItalicAz.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProMediumAz.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProLightItalicAz.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProLightAz.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProExtraLightItalicAz.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProExtraLightAz.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProBoldItalicAz.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProBoldAz.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../app/fonts/SofiaProBlackItalicAz.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
/* hover btn style */
.btn-lightup {
  @apply rounded-md bg-[#ED5729] text-white px-8 py-1 font-normal border border-transparent;
  transition: all 0.3s ease-in-out;
}

.btn-lightup:hover {
  @apply bg-white text-[#ED5729] border-[#ED5729];
}